prompt-toolkit==3.0.51
langchain-core==0.3.0
langchain-community==0.3.0
langgraph==0.2.22
langchain-openai==0.2.0
langchain-anthropic==0.2.0
numpy==1.26.4
faiss-cpu==1.8.0.post1
pydantic==2.10.6
pydantic-settings==2.5.2
retry==0.9.2
decorator==4.4.2